.main {
  display: flex;
  align-items: center;
}

.avatar {
  img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
  }

}

.displayname {
  margin-left: 13px;
  font-size: 13px;
  margin-bottom: 5px;
  color: darkgray;
}